<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ hugo.Generator }}
	<title>{{ .Title }}</title>
	<link rel="shortcut icon" href=" /favicon.ico " type="image/x-icon">
	<link rel="icon" href=" /favicon.ico " type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/style{{ $.Site.Params.style }}.css">
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
	<!-- para firebase -->
	<!-- firebase parece necesitar una versión superior al 3.1.1
		<script src="/js/jquery-3.1.1.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- fin para firebase -->
	<script type="text/javascript" src="/js/moment.min.js"></script>
	<script src="/js/fullcalendar-3.2.0.min.js"></script>
	<script src='/js/fullCalendarLocaleEs-3.3.1.js'></script>
	<script src="/js/bootstrap-3.3.7.min.js"></script>
	<script src="/js/jquery.countdown.js "></script>
	<script src="/js/countdown.js"></script>
	<script src="/js/caption.js"></script>
	<!-- <script src="/js/main.js"></script> -->
	<!-- para firebase -->
	<!-- los posts los dejo en abierto -->
	{{ if (ne .Type "post") }}
	<!-- <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script> -->
	<!-- <script src="/js/administracion.js"></script> -->
	<!-- <script src="/js/init-firebase.js"></script> -->
	{{ end }}
	<!-- fin para firebase -->
	<!-- <link rel="stylesheet" href="{{ "css/highlight.min.css" | absURL }}" /> -->
	<link rel="stylesheet"
		href="/css/highlight/{{ with .Site.Params.highlightStyle }}{{ . }}{{ else }}default{{ end }}.css">
</head>

<body>
	{{ partial "header.html" . }}
	<div class="container">
		<main id="main">
			{{ block "main" . }}{{ end }}
		</main>
	</div>
	{{ partial "footer.html" . }}
</body>

</html>